<div class="call">
  <div class="call-box-top">
    {% if site.data.kontakt.phone %}
        <div class="call-phone"><strong>Telefon:</strong> {{ site.data.kontakt.phone }}</div>
    {% endif %}
    {% if site.data.kontakt.email %}
    <div class="call-email"><strong>Email:</strong>
      <a href="mailto:{{ site.data.kontakt.email }}">
        {{ site.data.kontakt.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.kontakt.contact_button_link | relative_url }}" class="button">Kontakt os</a>
      </div>
    {% endif %}
</div>
