<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menuer.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    {% if item.dropdown == "tilbud" and site.data.tilbud %}
    <li class="has-dropdown {% if page.collection == "tilbud" %}active{% endif %}">
      <span class="main-menu-mobile__label">{{ item.name }}</span>
      <ul class="main-menu-mobile__dropdown">
        {% for offer in site.data.tilbud %}
        {% assign service = site.tilbud | where: "slug", offer.slug | first %}
        {% if service %}
        <li><a href="{{ service.url | relative_url }}">{{ offer.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
