<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SportsClub",
  "name": "Ejby IF Badminton",
  "alternateName": "Ejby Badminton",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}{{ site.logo.desktop }}",
  "image": "{{ site.url }}{{ site.logo.desktop }}",
  "description": "{{ site.description }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Skovvang 4",
    "addressLocality": "Lille Skensved",
    "postalCode": "4623",
    "addressCountry": "DK"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 55.49282,
    "longitude": 12.06448
  },
  "telephone": "+4540382795",
  "email": "badminton@ejbyif.dk",
  {% if site.data.kontakt.cvr != blank %}
  "taxID": "{{ site.data.kontakt.cvr }}",
  {% endif %}
  {% if site.data.kontakt.pnr != blank %}
  "identifier": {
    "@type": "PropertyValue",
    "name": "P-nr.",
    "value": "{{ site.data.kontakt.pnr }}"
  },
  {% endif %}
  "sameAs": [
    "https://www.facebook.com/Ejbyif"
  ],
  "sport": "Badminton",
  "memberOf": {
    "@type": "SportsOrganization",
    "name": "Ejby IF"
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Monday",
      "opens": "18:00",
      "closes": "21:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Wednesday",
      "opens": "18:00",
      "closes": "21:00"
    }
  ]
}
</script>
