<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.sociale_medier %}
            {% include social.html %}
          {% endif %}
          {% assign copyright_text = site.data.seo.copyright_text %}
          {% assign cvr = site.data.kontakt.cvr %}
          {% assign pnr = site.data.kontakt.pnr %}
          {% if copyright_text != blank or cvr != blank or pnr != blank %}
          <div class="copyright">
            {% if copyright_text != blank %}{{ copyright_text }}{% endif %}
            {% if cvr != blank %}{% if copyright_text != blank %} · {% endif %}CVR: {{ cvr }}{% endif %}
            {% if pnr != blank %}{% if copyright_text != blank or cvr != blank %} · {% endif %}P-nr.: {{ pnr }}{% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>