---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    {% assign column_class = "col-12 col-md-8" %}
    {% if page.full_width %}
        {% assign column_class = "col-12 col-lg-11 col-xl-10" %}
    {% endif %}
    <div class="row justify-content-start">
        <div class="{{ column_class }}">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>